{% extends 'base.html'%}
{% block content %}
<br><br><br><br><br>
<div class="container">

      <!-- Second Row-->
   <div class="row">
       <div class="col-md-1 col-lg-1 col-lx-1"></div>
     <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
      <img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/old_way.jpg" height="300" width="300" class="rounded-circle">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
      <div class="card border-0">
    <div class="card-body">
    <span class="h4 font-weight-bold">We do the research for you</span><br><br>
    <p class="lead">
    We know how much time you spend to look for a best item. Let us do all the tedious and time-consuming work for you.
    It's time to say goodbye to the old shopping ways
    </p>
    </div>
</div>
    </div>
    <div class="col-md-1 col-lg-1 col-lx-1"></div>
  </div>
    <br><br>
    <hr>
    <br><br>


  <!-- First Row-->
  <div class="row">
    <div class="col-md-1 col-lg-1 col-lx-1"></div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
      <div class="card border-0">
    <div class="card-body">
      <br><br><br>
    <span class="h4 font-weight-bold">Easier & faster shopping experience
    </span><br><br>
    <p class="lead">
      We gather all items' information from the Internet and return the best 10 results based on customer satisfaction, reviews, ratings, and popularity
    </p>
    </div>
</div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">
      <img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/shopping_img.jpg" height="300" width="300" class="rounded-circle">
    </div>
      <div class="col-md-1 col-lg-1 col-lx-1"></div>
  </div>
  <br><br>
  <hr>
  <br><br>


</div>



{% endblock %}