  <style>
 .nav {
    background-color: #FCEFE7;
    }


</style>
  <ul class="nav">

  <li class="nav-item">
    <a class="nav-link" href="{% url 'item-list' %}" ><span class="h6 font-weight-light text-secondary">Best10</span></a>
  </li>

    <li class="nav-item ">
    <a class="nav-link" href="{% url 'landing_page:about' %}"><span class="h6 font-weight-light text-secondary">About</span></a>
  </li>

      <li class="nav-item">
    <a class="nav-link" href="{% url 'landing_page:contact'%}"><span class="h6 font-weight-light text-secondary">Contact</span></a>
  </li>

  </ul>
